{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Article List</title>
<!--    <link rel="stylesheet" href="/static/styles.css">-->
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
<header>
    <h1>My Blog</h1>
    <nav>
        <ul>
            <a href="http://"><li>Home</li> </a>
            <a href="http://"><li>About</li></a>
            <a href="http://"> <li>Contact</li></a>
        </ul>
    </nav>
</header>
<div class="wrapper">
{% block content %}
 {% endblock %}
</div>
</body>
</html>